.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.action-buttons button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.2rem;
  border-color: #85167e;
  color: black;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.95rem;
  transition: 0.2s ease;
}

.action-buttons button:hover {
  transform: scale(1.1);
}

.action-buttons img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
