
/* Responsible for the Company Icon within the Nav Bar */
.nav-icon {
  height: 32px;
  width: 32px;
  margin-left: 0.5rem; /* Gives space from search bar */
  object-fit: contain;
  flex-shrink: 0; /* prevent it from collapsing */
}

.nav-icon:hover {
  filter: brightness(1.3);
  transform: scale(1.05);
}

#logo {
  height: 64px;
  width: auto;
  border-radius: 50%;
  transform: translateY(3px);  /* Moves up the background circle to make sure the icon/logo in the NavBar is actually centred */
}



/* Adds a white background behind the image, making it more visible for users */
.logo-wrapper {
  background-color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 100px;
  margin-left: 1rem;
}


/* ================================================ */

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Enables for the image for all slides to be adjusted individually */

.img-1 {
  object-position: 20% 0%;
  transform: scaleX(-1) translateY(115px);
}

.img-2 {
  transform: translateY(90px);
}

.img-3 {
  object-position: right;
}

.img-4{
  object-position: center;
  transform: scaleX(-1);
}

.img-5{
  object-position: 20% 0%;
  transform: translateY(90px);

}


