
/* Responsible for the Company Icon within the Nav Bar */
#logo{
    height: 80px;
    width: 80px;
}

/* Adds a white background behind the image, making it more visible for users */
.logo-wrapper {
  background-color: white;
  padding: 0.3rem 0.6rem;
  border-radius: 100px; 
}


/* ================================================ */

.hero-image {
  /* Background image with overlay */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/hero-magic.jpg");
  
  /* Fill the viewport height */
  height: 50vh;
  
  /* Cover the entire area */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


}

.hero-text {
  color: white;
  padding: 2rem;
  max-width: 90%;
}