body,html{
    height: 100%;
}


/* Default Button Format */
.button{
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    font-family: "Montserrat", sans-serif;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row; 
  gap: 1rem;
  list-style-type: none;
}

.cluster > *{
    /* Changed margins to padding */
    padding: 1.5rem;
    gap: 1rem;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}


.nav-link{
    display: inline-block;
}


.center{
    text-align: center;
}

.right{
    text-align: right;
}


