/* By default 1rem is set to 16px (apparently?) */

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: 900;
    text-align: center;
}

p{
    font-family: 'Rubik';
    font-style: italic;
    font-size: 1rem;
}

nav{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    
}

.button{
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.button--small{
    font-size: 1rem;
    
}

.button--large{
    font-size: 2rem;
}


/* Have a look at the following (maintain a vertical menu since we don't want to detract from the main focus, being the products 

Side Navigation (animations included): https://www.w3schools.com/howto/howto_js_sidenav.asp
Vertical Menu: https://www.w3schools.com/howto/howto_css_vertical_menu.asp
Off-Canvas Menu: https://www.w3schools.com/howto/howto_js_off-canvas.asp


Horizontal Nav Bar Appearing when Scrolling: https://www.w3schools.com/howto/howto_js_navbar_slide.asp


*/
