/* By default 1rem is set to 16px (apparently?) */

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    font-weight: 900;

}

p{
    font-family: 'Rubik';
    font-weight: 450;
    font-size: 1rem;
}

nav{
    font-family: "Montserrat", sans-serif;

    
}

/* Responsible for Nav Bar Links */
.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

/* animated underline using ::after */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Determines the distance that the underline is from the Nav Link text */
  width: 0%;
  height: 2px;
  transition: width 0.2s ease-in-out;
}

/* on hover: expand underline */
.nav-link:hover::after {
  width: 100%;
}

/* Responsible for any Buttons */
a.button{
    text-transform: uppercase;
}

.button{
    text-decoration: none;
    text-transform:uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

.button--small{
    font-size: 1rem;

    
}

.button--large{
    font-size: 2rem;

}

/* HERO IMAGE/BANNER STYLING */
.hero-text {
  position: absolute;
  z-index: 3;
  top: 52%;
  left: 8rem;
  transform: translateY(-50%);
  color: white;
  max-width: 50%;

}

.hero-text h1 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-top: 0;
}

.hero-text p {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 3rem;
  /* max-width: 800px; */

}

.hero-availability{
  font-weight: 600;
}

/* LOGO CAROUSEL TEXT STYLING */
.carousel-text{
  margin: 0;
  text-align: center;

}


/* FOOTER STYLING */
.footer-header{
  font-weight: 700;
  font-size: 2rem;
  text-align: left;


  margin-top: 2rem;

}

.footer-p{
  font-weight: 300;
}

/* LIST OF PRODUCTS STYLING */

/* Each product card */
.product-card {
  text-align: center;
}

/* Title */
.product-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}

/* Subtitle */
.product-subtitle {
  font-size: 0.9rem;
}

/* Price */
.product-price {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Link (removes underline) */
.product-link{
  text-decoration: none;
}


/* Have a look at the following (maintain a vertical menu since we don't want to detract from the main focus, being the products 

Side Navigation (animations included): https://www.w3schools.com/howto/howto_js_sidenav.asp
Vertical Menu: https://www.w3schools.com/howto/howto_css_vertical_menu.asp
Off-Canvas Menu: https://www.w3schools.com/howto/howto_js_off-canvas.asp


Horizontal Nav Bar Appearing when Scrolling: https://www.w3schools.com/howto/howto_js_navbar_slide.asp


*/
